<div>
    <h2 style="color: #fff;">Iniciar sesión</h2>
    <div class="example-container">
        <mat-form-field>
            <mat-label>Usuario</mat-label>
            <input matInput placeholder="pat@example.com" required>
        </mat-form-field>
    </div>
    <div class="example-container">
        <mat-form-field>
            <mat-label>Contraseña</mat-label>
            <input matInput type="password" required>
        </mat-form-field>
    </div>
    <div style="margin-top: 50px; text-align: right; margin-right: 10px;">
        <button mat-raised-button style="background-color: #e8ff3c; color: #000" routerLink="/dashboard"
            type="button">Iniciar sesión</button>
    </div>
</div>