.mat-stepper-horizontal {
    margin-top: 8px;
}

.mat-mdc-form-field {
    margin-top: 16px;
}

    
mat-icon {
    color: #fff;
}

.mat-stepper {
    color: #fff;
}

.form {
    text-align: center;
}

.mat-form {
    width: 250px;
    margin-left: 5px;
    margin-right: 5px;
}

.btn-form {
    margin-top: 10px;
    text-align: center;
}

.btn-previous {
    margin-left: 5px;
    margin-right: 5px;
}

.btn-next {
    margin-left: 5px;
    margin-right: 5px;
}

.data-form {
    text-align: center;
    display: flex;
    justify-content: space-around;
}