<div *ngIf="showSpinner" class="spinner-container">
    <mat-spinner color="accent" diameter="50"></mat-spinner>
</div>
<ng-container *ngIf="!showSpinner">
    <div style="display: grid; grid-template-columns: 260px 290px 260px; grid-template-rows: auto auto auto; margin-left: 130px; margin-top: 80px;">
            <button mat-raised-button style="width: 250px; height: 410px; background-color: #e8ff3c; color: #000; opacity: 0.9; margin-bottom: 5px; grid-row-start: 1; grid-row-end: 4; grid-column-start: 1; grid-column-end: 2;" routerLink="analytics"><mat-icon>analytics</mat-icon>Estadisticas</button>
            <button mat-raised-button style="width: 280px; height: 100px; background-color: #e8ff3c; color: #000; opacity: 0.9; margin-bottom: 5px; grid-row-start: 1; grid-row-end: 2; grid-column-start: 2; grid-column-end: 3;" routerLink="benefits"><mat-icon>redeem</mat-icon>Beneficios</button>
            <button mat-raised-button style="width: 250px; height: 350px; background-color: #e8ff3c; color: #000; opacity: 0.9; margin-bottom: 5px; grid-row-start: 1; grid-row-end: 4; grid-column-start: 3; grid-column-end: 4;" routerLink="news"><mat-icon>newspaper</mat-icon>Novedades</button>
            <button mat-raised-button style="width: 280px; height: 100px; background-color: #e8ff3c; color: #000; opacity: 0.9; margin-bottom: 5px; grid-row-start: 3; grid-row-end: 4; grid-column-start: 2; grid-column-end: 3;" routerLink="tutorials"><mat-icon>library_books</mat-icon>Tutoriales</button>
            <a mat-raised-button style="width: 280px; height: 200px; background-color: #000; color: #e8ff3c; opacity: 0.9; margin-bottom: 5px;" href="https://discord.com" target="_blank"><mat-icon>forum</mat-icon>Comunidad</a>
            <button mat-raised-button style="width: 250px; height: 50px; color: #e8ff3c; background-color: #000; opacity: 0.9; margin-bottom: 5px; margin-top: 50px;grid-row-start: 3; grid-row-end: 4; grid-column-start: 3; grid-column-end: 4;" routerLink="events"><mat-icon>event</mat-icon>Eventos</button>
    </div>
</ng-container>
