<div *ngIf="showSpinner" class="spinner-container">
    <mat-spinner color="accent" diameter="50"></mat-spinner>
</div>

<ng-container *ngIf="!showSpinner">
    <div style="display: flex; justify-content: left; align-items: start;">
        <button routerLink=".." mat-icon-button color="accent">
            <mat-icon>arrow_back</mat-icon>
        </button>
    </div>
    <div style="display: flex; flex-direction: column; justify-content: center;align-items: center;">
        <p style="text-decoration: underline; margin-top: 20px;" appFontSize>Estadísticas</p>
        <app-bar-chart></app-bar-chart>
        <app-pie-chart></app-pie-chart>
    </div>
</ng-container>