<h4 style="text-align: center;">Cantidad de alumnos inscriptos por curso:</h4>
<div style="display: flex; justify-content: space-between; align-items: center;">
    <div style="text-align:center; width: 270px;">
        <canvas baseChart class="chart" [data]="pieChartDataProg" [type]="pieChartTypeProg"
            [options]="pieChartOptionsProg" [plugins]="pieChartPluginsProg">
        </canvas>
        <h5 style="color:#e8ff3c; opacity: 0.9;">Programación y Desarrollo</h5>
    </div>
    <div style="text-align:center; width: 250px;">
        <canvas baseChart class="chart" [data]="pieChartDataDesing" [type]="pieChartTypeDesing"
            [options]="pieChartOptionsDesing" [plugins]="pieChartPluginsDesing">
        </canvas>
        <h5 style="color:#e8ff3c; opacity: 0.9;">Diseño UX/UI</h5>
    </div>
    <div style="text-align:center; width: 250px;">
        <canvas baseChart class="chart" [data]="pieChartDataDataProd" [type]="pieChartTypeDataProd"
            [options]="pieChartOptionsDataProd" [plugins]="pieChartPluginsDataProd">
        </canvas>
        <h5 style="color:#e8ff3c; opacity: 0.9;">Data y Producto</h5>
    </div>
</div>