.mat-stepper {
    max-height: 550px;
    overflow-y: auto;
}

.btn-form {
    margin-top: 10px;
    text-align: center;
}

.btn-previous {
    margin-left: 5px;
    margin-right: 5px;
}

.btn-next {
    margin-left: 5px;
    margin-right: 5px;
}