<div style="text-align: center; padding-right: 20px; padding-left: 20px;">
    <div *ngIf="showSpinner" class="spinner-container">
        <mat-spinner color="accent" diameter="50"></mat-spinner>
    </div>
    <ng-container *ngIf="!showSpinner">
        <p style="text-decoration: underline; margin-top: 20px;" appFontSize>Usuarios</p>
        <div>
            <app-user-table [dataSource]="(users$ | async) || []" (deleteUser)="onDeleteUser($event)"
                (editUser)="onEditUser($event)"></app-user-table>
            <div style="margin-top: 50px; text-align: right; margin-right: 10px;">
                <button mat-raised-button style="background-color: #e8ff3c; color: #000" (click)="onCreateUser()"
                    type="button">Crear usuario</button>
            </div>
        </div>
    </ng-container>
</div>